<template>
  <app-layout title="Perfumes">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Perfumes
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg">
          <div
            class="
              items-center
              flex
              bg-gray-800
              text-white text-center
              justify-center
              font-extrabold
              py-3
              text-center
            "
          >
            Nova Fórmula de Perfume
          </div>
          <form
            @submit.prevent="submit"
            class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-3"
          >
            <div
              class="
                items-center
                flex
                bg-red-400
                text-white
                justify-center
                font-bold
                py-2
                text-sm text-center
              "
            >
              FÓRMULA COM VALORES REFERENTES PARA 100ML
            </div>
            <div
              class="p-2 grid grid-flow-col auto-cols-max justify-between flex"
            >
              <div>
                <h2 class="font-bold">Código</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  v-model="form.codigo"
                  required
                />
              </div>
              <div class="col-span-10">
                <h2 class="font-bold">Nome</h2>
                <input
                  type="text"
                  class="w-full rounded"
                  v-model="form.nome"
                  required
                />
              </div>
            </div>

            <div
              class="
                p-2
                gap-2
                grid grid-flow-col
                auto-cols-max
                justify-between
                flex
              "
            >
              <div>
                <h2 class="font-bold">Água</h2>
                <input
                  type="number"
                  placeholder="qtd de água em ml"
                  class="w-full rounded"
                  v-model="form.agua"
                  required
                />
              </div>
              <div>
                <h2 class="font-bold">Álcool</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  placeholder="qtd de álcool em ml"
                  v-model="form.alcool"
                  required
                />
              </div>
              <div>
                <h2 class="font-bold">Fragância</h2>
                <select
                  class="w-full rounded"
                  v-model="form.fragancia"
                  required
                >
                  <option value="" selected disabled>
                    Selecione uma Fragância
                  </option>
                  <option
                    :value="fragancia"
                    v-for="fragancia in fragancias"
                    :key="fragancia"
                  >
                    {{ fragancia.nome }}
                  </option>
                </select>
              </div>
              <div v-if="form.fragancia">
                <h2 class="font-bold">{{ form.fragancia.nome }}</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  placeholder="qtd de fragância em ml"
                  v-model="form.ingrediente"
                  required
                />
              </div>
            </div>
            <div
              v-if="total > 100"
              class="
                items-center
                flex
                bg-red-600
                text-white
                justify-center
                font-extrabold
                py-2
                text-sm text-center
              "
            >
              VALORES ULTRAPASSARAM A QUANTIDADE MÁXIMA, REVEJA A FÓRMULA
            </div>
            <button
              type="submit"
              class="
                w-full
                bg-green-700
                rounded
                p-2
                mt-4
                flex
                justify-center
                texte-center
                text-white text-sm
                hover:bg-green-500
              "
            >
              Cadastrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import Swal from "sweetalert2";
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
  props: ["fragancias"],
  components: {
    AppLayout,
  },
  data() {
    return {
      form: {
        codigo: "",
        nome: "",
        agua: 0,
        alcool: 0,
        fragancia: "",
        ingrediente: 0,
      },
    };
  },
  computed: {
    total() {
      return this.form.agua + this.form.alcool + this.form.ingrediente;
    },
  },
  methods: {
    submit() {
      if (this.total < 101) {
        this.$inertia.post("/perfumes/novo", this.form, {
          _method: "put",
          onSuccess: () => {
            Swal.fire({
              icon: "success",
              title: "Fórmula cadastrada com sucesso!",
              showConfirmButton: false,
              timer: 2000,
            });
          },
          onError: () => {
            Swal.fire({
              icon: "error",
              title: "Erro ao gerar fórmula",
              showConfirmButton: false,
              timer: 2000,
            });
          },
        });
      }
    },
  },
};
</script>
