<template>
  <app-layout title="Ingredientes">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Perfumes
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg">
          <div
            class="
              items-center
              flex
              bg-gray-800
              text-white text-center
              justify-center
              font-extrabold
              py-3
              text-center
            "
          >
            Quantidade de perfuma para produzir
          </div>
          <form
            @submit.prevent="submit"
            class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-3"
          >
            <div
              class="p-2 grid grid-flow-col auto-cols-max justify-between flex"
            >
              <div>
                <h2 class="font-bold">Código</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  v-model="form.codigo"
                  required
                  readonly
                />
              </div>
              <div class="col-span-8">
                <h2 class="font-bold">Nome</h2>
                <input
                  type="text"
                  class="w-full rounded"
                  v-model="form.nome"
                  required
                  readonly
                />
              </div>
              <div>
                <h2 class="font-bold">Qtd ML</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  v-model="form.ml"
                  required
                />
              </div>
            </div>
            <div
              class="
                items-center
                flex
                bg-gray-600
                text-white
                justify-center
                font-extrabold
                py-2
                text-sm text-center
              "
            >
              Quantidade de Ingredientes necessários para produção
            </div>

            <div>Água: {{ calcularAgua() }}</div>
            <div>Álcool: {{ calcularAlcool() }}</div>
            <div>
              {{ formula[2].ingredientes.nome }}: {{ calcularFragancia() }}
            </div>
            <div
              v-if="erro.agua || erro.alcool || erro.fragancia"
              class="
                items-center
                flex
                bg-red-600
                text-white
                justify-center
                font-extrabold
                py-2
                text-sm text-center
              "
            >
              SEM ESTOQUE PARA PRODUÇÃO DO PERFUME!
            </div>
            <button
              type="submit"
              class="
                w-full
                bg-green-700
                rounded
                p-2
                mt-4
                flex
                justify-center
                texte-center
                text-white text-sm
                hover:bg-green-500
              "
            >
              Cadastrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import Swal from "sweetalert2";
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
  props: ["perfume", "formula", "estoque"],
  components: {
    AppLayout,
  },
  data() {
    return {
      form: {
        id: this.perfume.id,
        codigo: this.perfume.codigo,
        nome: this.perfume.nome,
        ml: "",
      },
      erro: {
        agua: false,
        alcool: false,
        fragancia: false,
      },
    };
  },
  methods: {
    calcularAgua() {
      let agua = this.form.ml * (this.formula[0].porcentagem / 100);
      if (agua <= this.estoque[0].ml) {
        this.erro.agua = false;
        return `${agua}ml`;
      } else {
        this.erro.agua = true;
        return `${agua}ml - Sem Estoque de Água`;
      }
    },
    calcularAlcool() {
      let alcool = this.form.ml * (this.formula[1].porcentagem / 100);
      if (alcool <= this.estoque[1].ml) {
        this.erro.alcool = false;
        return `${alcool}ml`;
      } else {
        this.erro.alcool = true;
        return `${alcool}ml - Sem Estoque de Álcool`;
      }
    },
    calcularFragancia() {
      let id = this.formula[2].ingrediente_id-1
      let fragancia = this.form.ml * (this.formula[2].porcentagem / 100);
      if (fragancia <= this.estoque[id].ml) {
        this.erro.fragancia = false;
        return `${fragancia}ml`;
      } else {
        this.erro.fragancia = true;
        return `${fragancia}ml - Sem Estoque de Fragancia`;
      }
    },
    submit() {
      if (!this.erro.agua && !this.erro.alcool && !this.erro.fragancia) {
        this.$inertia.post(`/perfumes/${this.perfume.id}/adiciona`, this.form, {
          _method: "put",
          onSuccess: () => {
            Swal.fire({
              icon: "success",
              title: "Perfume produzido com sucesso!",
              showConfirmButton: false,
              timer: 2000,
            });
          },
          onError: () => {
            Swal.fire({
              icon: "error",
              title: "Erro ao adicionar",
              text: "Preencha todos os campos",
              showConfirmButton: false,
              timer: 2000,
            });
          },
        });
      }
    },
  },
};
</script>
