<template>
  <app-layout title="Ingredientes">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Ingredientes
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg">
          <div
            class="
              items-center
              flex
              bg-gray-800
              text-white text-center
              justify-center
              font-extrabold
              py-3
              text-center
            "
          >
            Cadastro de novo Ingrediente
          </div>
          <form
            @submit.prevent="submit"
            class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-3"
          >
            <div
              class="p-2 grid grid-flow-col auto-cols-max justify-between flex"
            >
              <div>
                <h2 class="font-bold">Código</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  v-model="form.codigo"
                  required
                />
              </div>
              <div class="col-span-8">
                <h2 class="font-bold">Nome</h2>
                <input
                  type="text"
                  class="w-full rounded"
                  v-model="form.nome"
                  required
                />
              </div>
              <div>
                <h2 class="font-bold">Qtd ML</h2>
                <input
                  type="number"
                  class="w-full rounded"
                  v-model="form.ml"
                  min="1"
                  required
                />
              </div>
            </div>
            <button
              type="submit"
              class="
                w-full
                bg-green-700
                rounded
                p-2
                mt-4
                flex
                justify-center
                texte-center
                text-white text-sm
                hover:bg-green-500
              "
            >
              Cadastrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import Swal from "sweetalert2";
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
  props: ["errors"],
  components: {
    AppLayout,
  },
  data() {
    return {
      form: {
        codigo: "",
        nome: "",
        ml: "",
        tipo: true,
      },
    };
  },
  methods: {
    submit() {
      this.$inertia.post("/ingredientes/novo", this.form, {
        _method: "put",
        onSuccess: () => {
          Swal.fire({
            icon: "success",
            title: "Ingrediente cadastrado com sucesso!",
            showConfirmButton: false,
            timer: 2000,
          });
        },
        onError: () => {
          Swal.fire({
            icon: "error",
            title: "Erro ao cadastrar",
            text: this.errors.codigo,
            showConfirmButton: false,
            timer: 2000,
          });
        },
      });
    },
  },
};
</script>
