<template>
  <app-layout title="Ingredientes">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Ingredientes
      </h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <a
          href="/ingredientes/novo"
          class="
            bg-gray-700
            mb-4
            flex
            rounded
            w-full
            p-2
            text-white text-center
            justify-center
            text-sm
            hover:bg-gray-500
          "
          >CADASTRAR NOVO INGREDIENTE</a
        >
      </div>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-xl sm:rounded-lg">
          <div
            class="
              items-center
              grid grid-cols-4
              bg-gray-800
              text-white
              font-extrabold
              text-center
              py-3
              text-base
            "
          >
            <div>Código</div>
            <div>Nome</div>
            <div>Estoque</div>
            <div>Fabricar</div>
          </div>
          <div
            class="
              items-center
              grid grid-cols-4
              bg-white
              text-center
              border-t-2 border-b-2
              py-2
            "
            v-for="i in ingredientes"
            :key="i"
          >
            <div>{{ i.codigo }}</div>
            <div>{{ i.nome }}</div>
            <div>{{ i.ml }} ml</div>
            <div class="flex justify-center">
              <a :href="'/ingredientes/' + i.id + '/adiciona'"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-plus-circle"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="8" x2="12" y2="16"></line>
                  <line x1="8" y1="12" x2="16" y2="12"></line></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
  props: ["ingredientes"],
  components: {
    AppLayout,
  },
};
</script>
